<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>DappHero DOM - Playground - Custom Contract</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css" />
  </head>

  <body class="container">
    <!-- ERC721 - Single NFT -->
    <div class="headline">ERC721 - Single NFT from an Owner</div>
    <div class="headline">With Account address and Token id</div>

    <div
      data-dh-feature="nft"
      data-dh-property-method-id="030"
      data-dh-property-asset-token-id="101817"
      data-dh-property-asset-account-address="0x00000062eb9388ce580151552d1eb0eb16457464"
    >
      <button data-dh-property-method-id="030" data-dh-property-invoke class="w-button">
        Submit
      </button>

      <div data-dh-property-method-id="030" data-dh-property-asset-item class="component-div">
        <img data-dh-property-asset-json-path="image_url" />
        <h3 data-dh-property-asset-json-path="name"></h3>
      </div>
    </div>

    <hr style="margin-bottom: 65px" />

    <!-- ERC721 - List of specific NFTs -->
    <div class="headline">ERC721 - List of specific NFTs from an Owner</div>
    <div class="headline">With Account address and Token ids</div>

    <div
      data-dh-feature="nft"
      data-dh-property-method-id="031"
      data-dh-property-asset-token-id="101817,101778,101695"
      data-dh-property-account-address="0x00000062eb9388ce580151552d1eb0eb16457464"
    >
      <button data-dh-property-method-id="031" data-dh-property-invoke class="w-button">
        Submit
      </button>

      <div data-dh-property-method-id="031" data-dh-property-asset-item class="component-div">
        <img data-dh-property-asset-json-path="image_url" />
        <h3 data-dh-property-asset-json-path="name"></h3>
      </div>
    </div>

    <hr style="margin-bottom: 65px" />

    <!-- ERC721 - List of NFTs -->
    <div class="headline">ERC721 - List of NFTs from an Owner</div>
    <div class="headline">With Account address</div>

    <div
      data-dh-feature="nft"
      data-dh-property-method-id="032"
      data-dh-property-account-address="0x00000062eb9388ce580151552d1eb0eb16457464"
    >
      <button data-dh-property-method-id="032" data-dh-property-invoke class="w-button">
        Submit
      </button>

      <div data-dh-property-method-id="032" data-dh-property-asset-item class="component-div">
        <img data-dh-property-asset-json-path="image_url" />
        <h3 data-dh-property-asset-json-path="name"></h3>
      </div>
    </div>

    <hr style="margin-bottom: 65px" />

    <!-- ERC721 - List of NFTs from a contract -->
    <div class="headline">ERC721 - List of NFTs from an Contract</div>
    <div class="headline">With Asset contract address</div>

    <div
      data-dh-feature="nft"
      data-dh-property-method-id="033"
      data-dh-property-asset-contract-address="0x06012c8cf97bead5deae237070f9587f8e7a266d"
    >
      <button data-dh-property-method-id="033" data-dh-property-invoke class="w-button">
        Submit
      </button>

      <div data-dh-property-method-id="033" data-dh-property-asset-item class="component-div">
        <img data-dh-property-asset-json-path="image_url" />
        <h3 data-dh-property-asset-json-path="name"></h3>
      </div>
    </div>

    <hr style="margin-bottom: 65px" />

    <!-- To test: Parcel build -->
    <script src="../index.ts"></script>
  </body>
</html>
